<div class="card">
	<img src="{{ p.poster }}" class="img-fluid" alt="">
	<div class="card-body">
		<h4 class="card-title">{{ p.name }}
			({{ p.price }}
			&euro;)</h4>

		<span class="badge badge-info">
			{{ p.category.name }}</span>

		<p class="card-text">{{ p.shortDesc }}</p>
		<a href="{{ path('product_show', {category_slug: p.category.slug, slug: p.slug}) }}" class="btn btn-primary btn-sm">Détails</a>
		<a href="{{ path('cart_add', {slug: p.slug}) }}" class="btn btn-success btn-sm">
			<i class="fas fa-cart-arrow-down"></i>
			Ajouter au panier
		</a>
	</div>
</div>
