{{ form_start(form) }}
{{ form_errors(form) }}

{{form_row(form.name)}}
{{form_row(form.price)}}
{{form_row(form.poster)}}
{{form_row(form.short_desc)}}
{{form_row(form.category)}}

<button class="btn btn-primary mt-2">
	<i class="fas fa-save"></i>
	{{ button_label|default('Créer le produit') }}
</button>
{{ form_end(form) }}
