{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Tous les
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center">
		<h1>Tous les produits</h1>
	</div>
	<div class="d-flex justify-content-center">
		<a class="btn btn-info mb-4" href="{{ path('admin_product_new') }}">Créer un nouveau produit</a>
	</div>
	<div class="row">
		{% for p in products %}
			<div class="col-3">
				<div class="card mb-3">
					<img src="{{ p.poster }}" class="img-fluid" alt="">
					<div class="card-body">
						<h4 class="card-title">{{ p.name }}
							({{ p.price }}
							&euro;)</h4>

						<span class="badge badge-info">
							{{ p.category.name }}</span>

						<p class="card-text">{{ p.shortDesc }}</p>
						<div class="d-flex justify-content-around">
							<form method="post" action="{{ path('admin_product_delete', {slug: p.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit?');">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p.id) }}">
								<button class="btn btn-danger btn-sm">
									<i class="fas fa-trash"></i>
								</button>
							</form>
							<a href="{{ path('admin_product_edit', {category_slug: p.category.slug, slug: p.slug}) }}" class="btn btn-success btn-sm">Modifier</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
